body {
  font-family: Gill Sans, sans-serif;
  background-color: #f5daf0;
  text-align: center;
}

a {
  text-decoration: none;
  color: whitesmoke;
  background-color: cadetblue;
  padding: 10px;
  border-radius: 25px;
}

div {
   margin-bottom: 0px;
}

.link {
  margin: 40px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  /*width: 33.33%;*/
  width: 24%;
  padding: 0px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  width: 20%;
  border-radius: 5px;
}

#rectangle{
  width:1536px;
  height:10px;
  background:lightblue;
}

